@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Marcellus&display=swap');

body {
  font-family: 'Marcellus', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.btn-download-catelog {
  width: 167px;
}
.catelog-heading {
  font-size: 20px !important;
}

.bg-testimonail {
  background-color: black;
  padding: 35px;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
  color: white;
  background-color: white;
  position: relative;
}

.slider-flex-box {
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  font-family: 'Lexend';
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Marcellus', sans-serif;
}

@media screen and (max-width: 768px) {
  .slider-flex-box {
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
  }

  .custom-gradient-text {
    background: linear-gradient(
      105.06deg,
      #ffffff 26.47%,
      #aeaeae 31.74%,
      #d1d1d1 42.3%,
      #e0e0e0 48.42%,
      #4b4b4b 52.68%,
      #ffffff 57.1%,
      #ffffff 61.87%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 57px !important;
  }
  .mb-margin {
    margin: 1rem;
  }
  .bg-testimonial {
    background-image: url('../../images/substract-mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: left; */
  }
  .profile-testimonial {
    position: relative;
    top: -19px;
    left: -138px;
  }
}
@media screen and (min-width: 1200px) {
  .bg-testimonial {
    background-image: url('../../images/Subtract.png');
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: left; */
  }

  .profile-testimonial {
    position: relative;
    top: -51px;
    left: -51px;
  }
  .bg-testimonials {
    background-image: url('../../public/images/bg-testimonial.jpg');
  }
  .custom-gradient-text {
    background: linear-gradient(
      105.06deg,
      #ffffff 26.47%,
      #aeaeae 31.74%,
      #d1d1d1 42.3%,
      #e0e0e0 48.42%,
      #4b4b4b 52.68%,
      #ffffff 57.1%,
      #ffffff 61.87%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 86px !important;
  }
}

.slider-flex-box {
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  font-family: 'Lexend';
}

.counter-box p {
  font-size: 16px !important;
}
.testimonial-pera {
  font-size: 16px !important;
}
