@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Marcellus&display=swap');

body {
  font-family: 'Marcellus', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.btn-download-catelog {
  width: 167px;
}
.catelog-heading {
  font-size: 20px !important;
}

.bg-testimonail {
  background-color: black;
  padding: 35px;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
  color: white;
  background-color: white;
  position: relative;
}

.slider-flex-box {
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  font-family: 'Lexend';
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Marcellus', sans-serif;
}

@media screen and (max-width: 768px) {
  .our-process-heading {
    font-size: 1.875rem !important;
  }
  .slider-dis-box {
    bottom: 0rem;
    box-shadow: 0px 2px 2px 0px #0000000d;
  }

  .slider-bg-main {
    height: 60vh !important;
  }
  .slider-flex-box {
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
  }
  header {
    position: fixed;
    top: 0;
    z-index: 99999;
    background-color: white;
    padding-bottom: 20px;
    width: 100%;
  }

  main {
    margin-top: 6rem;
  }

  .boder-slider-light {
    margin: auto;
    border: 1px solid #b2b2b2;
    background-color: #b2b2b2;
    height: 67px !important;
    margin-left: 11px !important;
    margin-right: 11px !important;
  }

  .custom-gradient-text {
    background: linear-gradient(
      105.06deg,
      #ffffff 26.47%,
      #aeaeae 31.74%,
      #d1d1d1 42.3%,
      #e0e0e0 48.42%,
      #4b4b4b 52.68%,
      #ffffff 57.1%,
      #ffffff 61.87%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px !important;
  }
  .mb-margin {
    margin: 1rem;
  }
  .bg-testimonial {
    background-image: url('../../images/substract-mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: left; */
  }
  .profile-testimonial {
    position: relative;
    top: -19px;
    left: -138px;
  }
}
@media screen and (min-width: 1200px) {
  .bg-testimonial {
    background-image: url('../../images/Subtract.png');
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: left; */
  }

  .counter-box {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .profile-testimonial {
    position: relative;
    top: -51px;
    left: -51px;
  }
  .bg-testimonials {
    background-image: url('../../public/images/bg-testimonial.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .custom-gradient-text {
    background: linear-gradient(
      105.06deg,
      #ffffff 26.47%,
      #aeaeae 31.74%,
      #d1d1d1 42.3%,
      #e0e0e0 48.42%,
      #4b4b4b 52.68%,
      #ffffff 57.1%,
      #ffffff 61.87%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px !important;
  }
}

.slider-flex-box {
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  font-family: 'Lexend';
}

.counter-box p {
  font-size: 16px !important;
}
.testimonial-pera {
  font-size: 16px !important;
}
.boder-slider-light {
  margin: auto;
  border: 1px solid #b2b2b2;
  background-color: #b2b2b2;
  height: 107px;
  margin-left: 14px;
}

.text-slider-box.text-center.pt-10 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
}

.buttlets-testimonail {
  border-radius: 0px;
  height: 2px;
  width: 50px;
}

header {
  position: fixed !important;
  top: 0;
  z-index: 9999;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 9999;
  padding-bottom: 10px;
}
/* .mega-menu-ful-width {
  width: 100vw;
  position: absolute; 
  transform: translateX(-52%); 
  z-index: 1000; 
} */

main {
  margin-top: 5rem !important;
}
@media only screen and (min-width: 1336px) and (max-width: 1440px) {
  .main-slider-h {
    height: 574px !important;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1920px) {
  /* .mega-menu-ful-width {
    width: 100vw;
    position: absolute; 
    left: 0%; 
    transform: translateX(-58%);
    z-index: 1000;
  } */

  .custom-gradient-text {
    background: linear-gradient(
      105.06deg,
      #ffffff 26.47%,
      #aeaeae 31.74%,
      #d1d1d1 42.3%,
      #e0e0e0 48.42%,
      #4b4b4b 52.68%,
      #ffffff 57.1%,
      #ffffff 61.87%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px !important;
  }

  .boder-slider-light {
    margin: auto;
    border: 1px solid #b2b2b2;
    background-color: #b2b2b2;
    height: 140px !important;
    margin-left: 14px;
  }
}

@media screen and (max-width: 390px) {
  .profile-testimonial {
    position: relative;
    top: -12px;
    left: -106px;
  }
}
.explore-btn {
  color: #0e4e14 !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
